//colors 

$color_main : #0F49A3;
$color_seclight : #D9932B;
$color_secdark : #8C5300;
$color_blueli : #00b7ff;
$white : #ffffff;
$black : #000000;


//font-color

$font_dark: #191919;
$font_medium : #303030;
$font_light : #606874;
$font_main:#5f656d;

//border

$border_dark : #b4b4b4;
$border_medium : #c7c7c7;
$border_form : #e0e0e0;
$border_light : #ececec;
$br: .8rem;
$br_small : .4rem;

$border: 1px solid $color_main;


// fonts

$main_font : 'Space Grotesk', sans-serif;

//font-size

$h1: 4.6rem;
$h2: 3.6rem;
$h3: 2.8rem;
$h4: 2.4rem;
$h5: 1.8rem;
$h6: 1.6rem;
$p: 1.5rem;
$p1: 1.6rem;
$p2: 1.4rem;
$p3: 1.2rem;
$p4: 1rem;
$lineheight : 200%;
$fw-700:700;
$fw-500:500;
$fw-400:400;
$fw-300:300;

//gradient

$liner_gradient : linear-gradient(to bottom, rgba($color_main,0.75), rgba($black,0.8));

$liner_gradient-2 : linear-gradient(to bottom, rgba($black,0.5), rgba($black,0.8));