        @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,700&family=Josefin+Sans:ital,wght@0,600;0,700;1,600;1,700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Barlow:ital@1&display=swap');


        *,
        *::after,
        *::before,

        html {
            font-size: 62.5%; 
        }

        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box
        }

        .py-large{
                padding: 75px 0;
        }



        .first-intro h2{
            font-size: 50px;
            color: #F86065;
        }
        .first-intro h3{
            font-size: 30px;
            color: #207848;
            text-align: left;
            
        }

            
        .first-intro h1{
            font-size: 74px;
            font-weight: bold;
            position: relative;
        
        }

        .first-intro h1 span{
            position: relative;
            font-size: 74px;
            
        }

        .first-intro h1 span::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 100%;
            height: 15px;
            background-image:url(/assets/images/underline.svg) ;
        }



        .trynow {
            background-color:#207848;
            color:white;
            padding: 10px;
            border-radius: 5px;
            text-align: center;
            display: inline-block;
            font-size: 10px;
            margin: 10px 10px;
            cursor: pointer;
            
            }


        .section-first-footer h1{
            color: #e5e5e5;
            font-size: 3rem;
            font-weight: bold;
            text-align: center;
            position: relative;
        }


        .section-first-footer h3{
            color: #e5e5e5;
            font-size: 2rem;
            text-align: center;
            position: relative;
        }
        

        .icon-person img{
            height: 4.5rem;  
        }

        .icon-person{

                border-right: 2px solid #FFB600;
                height: 100px;
                position: relative;
                
        }

        .btn h3{
            color: white;
            font-size: 20px;

        }

        .section-first-footer{
            border-top-left-radius: 6rem;
            border-bottom-left-radius: 6rem;
            background-color: #207848;
            min-height: 20rem;
            position: relative;
            width: 100%;
           
            
        }
        .section-first-footer::after {

            position: absolute;
            content: '';
            background-color:#207848;
            height: 20rem;
            width: 100%;
            right :-50%;
            top:0;
           
             
        }



        .section-first-last h1{
            font-size: 40px;
            color: #e5e5e5;
        
        }


            
        .title h1{
            font-size: 64px;
            position: relative;
            font-weight:bold ;
        }

        .title h1 span{
            position: relative;
            font-size: 64px;
            
        }

        .title h1 span::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 75%;
            height: 15px;
            background-image:url(/assets/images/underline.svg) ;
        }


        .content h1{
            font-size: 50px;
            text-align: left;
            font-weight:bold ;
            color:#207848;
        }

        .content h3{
            font-size: 20px;
            text-align: left;
            font-weight:bold ;
            color: #207848; 
        }


        .content p{
            font-size: 20px;
            text-align: left;
            color: #207848;

        }
        .content span{
            color: #FFB600;
            size: 8rem;
            
        }






        .border-area{
            border-style: solid;
            border-width: 0.1rem 0.1rem;
            border-radius: 2rem;
            border-color: #FFB600;
            padding: 1rem;
            align-items: center;
           
        
        }

        .border-area h1{
        
                font-weight: bold;
                color: #000;
                font-size: 3rem;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                text-align: left;
                
        }
        
        .border-area h3{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 2rem; 
                text-align: left;
        }
        .icon img {
            width: 100%;
            height: 6rem;
        }


        
        ::selection {
            background-color: #000;
            color: #fff
        }

        img,
        .img-fluid {
            width: 100%;
            height: auto;
            overflow: hidden;
        }

        .container {
            max-width: 85%;
            position: relative;
        }


        @media only screen and (max-width: 75em) {
            html {
                font-size: 56.25%; } 
        }
            
        @media only screen and (max-width: 56.25em) {
            html {
                font-size: 50%; } 
        }

        @media only screen and (min-width: 112.5em) {
            html {
                font-size: 62.5%; } 
        }



        h1,h3,h4 {
            font-family: 'Barlow', sans-serif;
            

        }
        h2{
            font-family: 'Sacramento', cursive;

        }
        a, li,p {
            font-size: 20px;
            font-family: 'Barlow', sans-serif;
        }



        h5, p {
            color: #e5e5e5;
            font-family: 'Barlow', sans-serif;
        }


        .footer{
            background-color: black;
        }

        .details h1, h3 {
                text-align: center;
        }

        .button {
            background-color:#207848; /* Green */
            border: none;
            color:black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            margin: 10px 2px;
            cursor: pointer;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            border-radius: 10px;
        }

        .title-calender h1{
            font-size: 40px;
            color: #207848;
            text-align: center;

        }
        .title-calender p{
            text-align: center;
            font-size: 20px;
            color: black;

        }
        .feedback h1{
            font-size: 30px;
            color: #207848;
        }

       


.consultants{
            
            width: 100%;
            background-color: #FFB600;
            text-align: center;
            height: 1100px;
            border-bottom-left-radius: 16rem;
            position: relative;
                
        }

.consultants::before{
            position: absolute;
            content:'';
            width: 100%;
            height: 60%;
            background-color:#207848;
            left :0;
            top:0;
              
}

.content-consultants h1{

            color:white;
            font-weight: bold;
            font-size: 30px;
            text-align: center;
}

.content-consultants h3{

            color:#FFB600;
            font-weight: bold;
            font-size: 2rem;
            text-align: center;
}



.card-body h4{

            color: white;
            font-weight: bold;
            font-size: 30px;
            
}

.card-body{
            background-color: transparent;
                      
}
.card{
    height: 40rem;
    margin: 2rem;
    border-radius: 2rem;
    object-fit: cover;
    border-color: transparent;
    box-shadow: #c9a7a74e;
    
}

.card-title h4{
    color: black;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-title h5{
    color: rgb(189, 178, 178);
    font-size: 2rem ;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.card img{
    min-width: 100%;
    height: 50rem;
    object-fit: contain;
  
}




.header-content h1{
    color: #207848;
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    padding-left: 5rem;

}
.header-content-button h3{
    color: #e5e5e5;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.drop-us-message h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #e5e5e5;
}
/* most popular course */
.courses{
    width: 100%;
    height: 700px;
    padding: 30px;
}

.course-tittle-area h1{

    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}

.course-tittle-area h3{

    font-size: 25px;
    color: #207848;
    text-align: center;
    
}

.carousel-content h4 {
    color: #000;
    font-size: 30px;
    font-weight: bold;

}

.carousel-content h5{
    color: rgb(167, 174, 181);
    font-size: 20px;
   

}

.item-course h1{

    color: #000;
    padding-top: 50px;

}

.consultants-content h1{
    color: white;
    font-size: 4rem;
    padding-top: 2rem;

}

.consultants-content h3{
    color: #FFB600;
    font-size: 2rem; 

    
    
}
.consultants-content h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

.course{
    padding: 5rem;
    width: 100%;
    background-color: #FFB600;
    text-align: center;
    height: 1100px;
    border-bottom-left-radius: 16rem;
    position: relative;
}



.course::before{
    position: absolute;
    content:'';
    width: 100%;
    height: 60%;
    background-color:#207848;
    left :0;
    top:0;
      
}

.vl {
    border-left: 1px solid green;
    height: 500px;
  }

.uni-content h1{
    text-align: center;
    color: #207848;
    font-size: 3rem;
    font-weight: bold;
    padding-left: 2rem;
    
}

.partner-uni  {
    align-items: center;
    background:white;
    display: flex;
    height: 20rem;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;

}
  
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: white;
    height: 15rem;
    margin: auto;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 10rem;
    position: absolute;
    width: 10rem;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(30rem * 10);
  }

  .slide {
    height: 50rem;
    width: 20rem;

  }

  .slide img{
    align-items:center ;
    margin: 5rem;
    position:relative;

  }

  .owl-carousel img{
    height: 60rem;
    width: 100%;
    
  }



.our-service{
    width: 100%;
    background-color: white;
    text-align: center;
    height: 80rem;
    position: relative;
}

.our-service::before  {
    position: absolute;
    content:'';
    width: 100%;
    height: 60%;
    background-color: #FFFFE4;
    left :0;
    top:0;   
}

.service-intro h1{
    font-size: 40px;
    font-weight: bold;
    color: #207848;
    padding-bottom: 1rem;
    
}
.service-intro h3{
    font-size: 16px;
    color: #207848;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: left;
}
.service-intro{
    height: 60rem;
    text-align: left;
    padding-top: 10rem;
    
}
.service-intro h4{
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

