

.header{
    width: 100%;
    min-height: 8rem;
    background-color: transparent;
    @include posabtl(0,0);

    &-con{
        padding: 1rem 0;
    }
}

.logo-panel{
    text-align: left;
    img{
        width: 15rem;
        max-height: 7rem;
    }
}


